@using System.Text.Json;
@using Autabee.Communication.ManagedOpcClient.ManagedNode;
@foreach (var item in Value)
{
    if (item.Value is Dictionary<string, object> dicItem)
    {
        if (dicItem.Count > 0)
        {
            <ComplexSubscriptionNode Value="@dicItem" NodeId="@string.Join('.',NodeId,item.Key)" />
        }
        else
        {
            <tr>
                <td>@string.Join('.',NodeId,item.Key)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>@string.Join('.',NodeId,item.Key)</td>
            <td></td>
            <td>@(((NodeDataRecord<object>)item.Value).Value)</td>
            <td>@(((NodeDataRecord<object>)item.Value).TypeName)</td>
            <td></td>
        </tr>
    }
}


@code {
    [Parameter]
    public Dictionary<string, object> Value { get; set; }
    [Parameter]
    public string NodeId { get; set; }


}
