@using System.Text.Json;
@using Autabee.Communication.ManagedOpcClient.ManagedNode;
@using Autabee.Communication.ManagedOpcClient;
@using Opc.Ua;
@foreach (var item in Value)
{
    if (item.Value is Dictionary<string, object> dicItem)
    {
        if (dicItem.Count > 0)
        {
            <ComplexSubscriptionNode Value="@dicItem" NodeId="@string.Join('.',NodeId,item.Key)" />
        }
        else
        {
            <tr>
                <td>@string.Join('.',NodeId,item.Key)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
    }
    else if(item.Value is ExtensionObject extension)
    {
        <ComplexSubscriptionNode Value="(Dictionary<string, object>)Client.FormatObject(extension)" NodeId="@NodeId" Client="Client" />
    }
    else if (item.Value is ExtensionObject[] extensions)
    {
        for (int i = 0; i < extensions.Length; i++)
        {
            <ComplexSubscriptionNode Value="(Dictionary<string, object>)Client.FormatObject(extensions[i])" NodeId="@($"{NodeId}[{i}]")" Client="Client" />
        }

    }
    else if (item.Value is NodeDataRecord<object> record)
    {
        <tr>
            <td>@string.Join('.',NodeId,item.Key)</td>
            <td></td>
            <td>@(record.Value)</td>
            <td>@(record.TypeName)</td>
            <td></td>
        </tr>
    }
    else 
    {
        <tr>
            <td>@string.Join('.',NodeId,item.Key)</td>
            <td></td>
            <td>@(item.Value)</td>
            <td></td>
            <td></td>
        </tr>
    }
}


@code {
    [Parameter]
    public AutabeeManagedOpcClient Client { get; set; }
    [Parameter]
    public Dictionary<string, object> Value { get; set; }
    [Parameter]
    public string NodeId { get; set; }


}
